@import "tailwindcss";

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

canvas {
  display: block;
  background-color: beige;
}

#bg{
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#ui{
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 100;
  color: white;
}

